<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="PatternLayoutEncoder">
            <pattern>%-4relative ms [%thread] %highlight(%-5level) %green(%logger{10}) -%kvp -%msg %n</pattern>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>